.about 
    .about__main 
        img(src="./images/catalog.jpg").about__img
        .about__info    
            h2.about__title  О компании:
            p.about__history  Наша история:
            p.about__history__info Со дня открытия в 2000 году, мы работаем с организациями любого масштаба, поставляя продукцию оптовым и розничным продавцам. Нашим сотрудникам нравится вместе создавать качественные товары, соответствующие самым высоким стандартам.Со дня открытия в 2000 году, мы работаем с организациями любого масштаба, поставляя продукцию оптовым и розничным продавцам. Нашим сотрудникам нравится вместе создавать качественные товары, соответствующие самым высоким стандартам.Со дня открытия в 2000 году, мы работаем с организациями любого масштаба, поставляя продукцию оптовым и розничным продавцам. Нашим сотрудникам нравится вместе создавать качественные товары, соответствующие самым высоким стандартам.