.banner 
    img(src="./images/banner_1.jpg", alt="").slide__img
    .dark__fone

.banner__block 
    .banner__content 
        h2.banner__title Box Tashkent 
        h4.banner__info Поставщики элитных коробок под любой размер
        p.banner__text Качество — предмет гордости нашей компании. Мы очень внимательны к деталям: от первоначальной концепции до готового продукта. В нашей постоянно меняющейся отрасли компания «box tashkent» установила высокую планку внедрения инноваций и выполнения контрактных обязательств. Изучите материалы на сайте и убедитесь в этом сами. Мы любим свою работу.
        a(href="about.html").banner__link Подробнее