.container.catalog__block
    h2.catalog__title Товары
    p.catalog__info Всё только самое лучшее
    .catalog.row
        .item 
            img(src="./images/item.jpg", alt="").item__img
            .item__block 
                h2.item__title картонные коробки
                p.item__info Мы производим 2х, 3x слойные гофрированные коробки
        .item 
            img(src="./images/item.jpg", alt="").item__img
            .item__block 
                h2.item__title картонные коробки
                p.item__info Мы производим 2х, 3x слойные гофрированные коробки
        .item 
            img(src="./images/item.jpg", alt="").item__img
            .item__block 
                h2.item__title картонные коробки
                p.item__info Мы производим 2х, 3x слойные гофрированные коробки
    a.catalog__more(href="faq.html") Подробнее