.clients 
    h2.clients__title Клиенты
    .container
        .row
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте
            .client 
                img(src="./images/client_1.png").client__img
                h2.client__title Имя клиента
                p.client__info Информация о клиенте