.footer
    .container
        .footer__contact 
            h2.footer__title как связаться :
            p.footer__addres Адрес : Сергели 5, ул Бабур
            a(href="tel:+998999264016").footer__number (99)926-40-16 - Мохир
            a(href="https://t.me/M_h_R_02").footer__telegram Телеграм - @M_h_R_02
        .footer__map
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1662.8569447930352!2d69.26060540961718!3d41.268791145938046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8a93491799d9%3A0x5e1634229f80b228!2z0YPQu9C40YbQsCDQkdC-0LHRg9GA0LAsINCi0LDRiNC60LXQvdGCLCDQo9C30LHQtdC60LjRgdGC0LDQvQ!5e0!3m2!1sru!2s!4v1613390231452!5m2!1sru!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>