.nav-block
    .nav.container 
        a(href="#")
            img(src="./images/logo .png").logo__img

        button.icon-burger.nav__burger 

        ul.menu
            li 
                a(href="./index.html").menu__link Главная 
            li 
                a(href="./about.html").menu__link О нас 
            li 
                a(href="./products.html").menu__link Товары 
            li 
                a(href="./faq.html").menu__link FAQ  
            li 
                a(href="#").menu__link Контакты
