.container
    .skills.row
        .skills__block 
            img(src="./images/skills2.jpg", alt="").skills__img
            h4.skills__title Оперативная работа
            p.skills__text мы выполняем ваши заказы за кратчайшие сроки
        .skills__block 
            img(src="./images/skills2.jpg", alt="").skills__img
            h4.skills__title Оперативная работа
            p.skills__text мы выполняем ваши заказы за кратчайшие сроки
        .skills__block 
            img(src="./images/skills2.jpg", alt="").skills__img
            h4.skills__title Оперативная работа
            p.skills__text мы выполняем ваши заказы за кратчайшие сроки
        .skills__block 
            img(src="./images/skills2.jpg", alt="").skills__img
            h4.skills__title Оперативная работа
            p.skills__text мы выполняем ваши заказы за кратчайшие сроки