.container

    h2.products__title продукты
    .row.products
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
        .product 
            img(src="./images/item.jpg").product__img
            .product__block 
                h2.product__title Картонные коробки
                p.product__info Мы производим 2х, 3x слойные гофрированные коробки
