$Montserrat:('Montserrat','Regular', 400),
            ('Montserrat','Bold', 700),
            ('Comfortaa','Regular', 400),
            ('Comfortaa','Bold', 700),
            ('fontawesome','duotone', 900),
            ('fontawesome','light', 300),
            ('Arapey','Regular', 400),
            ;

@each $family, $name, $weight in $Montserrat {
    @font-face {
        font-family: $family;
        src: url(../fonts/#{$family}/#{$family}-#{$name}.ttf);
        font-weight: $weight;
    }
}

$yellow: #FEFC8F;
$black: #1D1D1D;
$gray: #F1F1F1;
$white: #FFFFFF;
$menu-bg: rgb(19, 19, 19);
$about-bg: rgb(237,237,237)
// $nav__link: #ED8E00;
// $banner: rgba(7, 15, 25, 0.75);
// $grey: rgba(200, 200, 200, 1);
// $orange: #F18128;
// $main: #040D1F;
// $film: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
// $time: rgba(7, 15, 25, 0.2);
// $pr: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
// $coll: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
// $ser: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
// $footer: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);