include ./components/nav.pug
include ./components/banner.pug
include ./components/opportunities.pug
include ./components/catalog.pug
include ./components/clients.pug
include ./components/footer.pug